@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: var(--Color-Normal);
    outline: none;
}

:root{
    --Color-main: rgb(15, 15, 15);
    --Color-Normal: #fff;
    --Color-Button: #7a7474;
    --Bg-Button: #1C1C1C;
    --Boder: #3E3E3E;
    --Color-Basic: #469cff;
    --Boder-Basic: #469cffa2;
    --Bg-correct: #30ff41a8;
    --boder-correct : #67ff39;
    --Bg-incorrect : #ff3030cc;
    --Boder-incorrect : #ff3030;
    --boder-Warning : #ffe030;
    --Bg-Warning : #ffe030ab;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--Bg-Button);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Buttons{
    position: relative;
}

button{
    padding: 8px 20px;
    border-radius: 7px;
    font-size: 1.2rem;
    background-color: var(--Boder-Basic);
    border: 1px solid var(--Color-Basic);
    cursor: pointer;
    
}

.Success{
    background-color: var(--Bg-correct);
    border: 1px solid var(--boder-correct);
}
.Error{
    background-color: var(--Bg-incorrect);
    border: 1px solid var(--Boder-incorrect);
}

.Warning{
    background-color: var(--Bg-Warning);
    border: 1px solid var(--boder-Warning);
}

ul{
    position: fixed;
    top: 10px;
    right: 30px;
}


li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: var(--Bg-Button);
    border: 1px solid var(--Boder);
    padding: 14px 20px;
    border-radius: 7px;
    margin-bottom: 10px;
    
}

li div span{
    font-size: 1.2rem;
}

li div i{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.fa-xmark{
    font-size: 1.2rem;
    color: var(--Color-Button);
}

#Success div i {
    color: var(--boder-correct);
}
#Error div i {
    color: var(--Boder-incorrect);
}
#Warning div i {
    color: var(--boder-Warning);
}
#Info div i {
    color: var(--Color-Basic);
}

